<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Confirm payment </title>
    <link rel="icon" type="image/jpg" href="../images/logo1.jpg ">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
<div class="container">
    <ul>
        <li><img style="margin-left: -250px;" src="../images/GlobalSkyFlyAirways-logo.png"
                 alt="GlobalSkyFlyAirways-logo">
        </li>
        <li><a href="">Profile <i class="fas fa-caret-down"></i></a>
            <ul>
                <li><a th:href="@{/userProfile/{userId} (userId=${userId})}">View Profile</a></li>
                <li><a th:href="@{/updateUserProfile/{userId} (userId=${userId})}">Update Profile</a></li>
            </ul>
        </li>
        <li><a th:href="@{/searchFlights/{userId} (userId=${userId})}">Search Flight</a></li>
        <li><a href="">Wallet<i class="fas fa-caret-down"></i></a>
            <ul>
                <li><a th:href="@{/addUserWalletBalance/{userId} (userId=${userId})}">Add Amount</a></li>
                <li><a th:href="@{/userBalance/{userId} (userId=${userId})}">Balance</a></li>
            </ul>
        </li>
        <li><a th:href="@{/previousBookings/{userId} (userId=${userId})}">My Bookings</a></li>
        <li><a href="/signIn">Sign Out</a></li>
    </ul>
    <div class="grid" style="background: transparent">
        <img src="../images/Air_India-Logo.png"/>
        <img src="../images/AirAsia_India-Logo.png"/>
        <img src="../images/British_Airways-Logo.png"/>
        <img src="../images/Jet_Airways-Logo.png"/>
        <img src="../images/Oman_Air-Logo.png"/>
    </div>
    <div class="login">
        <div class="login"><h6 style="font-size:20px;color:white;" align="center"><small><span
                th:text="${successMessage}"></span></small></h6>
            <h6 style="font-size:20px;color:white;" align="center"><small><span
                    th:text="${errorMessage}"></span></small></h6>

            <div class="form" style=" background: linear-gradient(to bottom right, white, #88bdbc)">
                <form class="login-form" action="/confirmPayment" method="post">
                    <span> Confirm Payment<br><br></span>
                    <p>Name &nbsp;: <br></p><input type="text" name="name" th:value="${name}" readonly/>
                    <p>Airlines &nbsp;: <br></p><input type="text" th:value="${airlines}" readonly/>
                    <p>Flight ID &nbsp;: <br></p><input type="text" th:value="${flightId}" readonly/>
                    <p>Total number of seats &nbsp;: <br></p><input type="text" th:value="${numberOfSeats}"
                                                                    readonly/>
                    <div style="font-size:15px;">Seats Booked : <h5 class="formStyle" style="font-size:18px;"
                                                                    th:each="seats : ${seats}"
                                                                    th:text="${seats}"></h5>
                    </div>
                    <br>
                    <p>Aggregate Amount &nbsp;: <br></p><br><input type="text" name="amount"
                                                                   th:value="${totalAmount}" readonly/>
                    <button type="submit">Confirm</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>