<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>ERROR</title>
    <link rel="icon" type="image/jpg" href="./images/logo1.jpg ">
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>

<body>
<div class="container" style="height:100%; padding-bottom: 295px">
    <H1 align="center" style="margin-top:200px;">ERROR 404</H1>
    <H2 align="center">Page Not Accessible</H2>
</div>
</body>
</html>