<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GlobalSkyFlyAirways Home</title>
    <link rel="icon" type="image/jpg" href="./images/logo1.jpg ">
    <link rel="stylesheet" href="home.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
    <ul>
        <li><img src="./images/GlobalSkyFlyAirways-logo.png" alt="GlobalSkyFlyAirways-logo"></li>
        <li><a href="/flights"><p>Flights</p></a></li>
        <li><a href="/signUp"><p>Sign Up</p></a></li>
        <li><a href="/signIn"><p>Sign In</p></a></li>
    </ul>
    <div class="titular">
        <img src="./images/background.jpg" alt="flight" class="bg"/>
        <p class="tagline">Global SkyFly Airways</p>
        <p class="subtitle">Let's explore the world together.</p>
    </div>

    <div class="grid">
        <img src="./images/Air_India-Logo.png"/>
        <img src="./images/AirAsia_India-Logo.png"/>
        <img src="./images/British_Airways-Logo.png"/>
        <img src="./images/Jet_Airways-Logo.png"/>
        <img src="./images/Oman_Air-Logo.png"/>
    </div>
</div>
</body>
</html>