<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Admins Details</title>
    <link rel="icon" type="image/jpg" href="../images/logo1.jpg ">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
<div class="container">
    <ul>
        <li><img style="margin-left: -275px;" src="../images/GlobalSkyFlyAirways-logo.png"
                 alt="GlobalSkyFlyAirways-logo"></li>

        <li><a th:href="@{/superAdminProfile/{adminId} (adminId=${adminId})}">View Profile</a></li>

        <li><a href="#">Admin Manager<i class="fas fa-caret-down"></i></a>
            <ul >
                <li><a href="/signUpAdmin">Add Admin</a></li>
                <li><a th:href="@{/adminsDetails/{adminId} (adminId=${adminId})}">Registered Admins</a></li>
                <li><a th:href="@{/removeAdmin/{adminId} (adminId=${adminId})}">Remove Admin</a></li>
            </ul>
        </li>
        <li><a href="#">User Manager<i class="fas fa-caret-down"></i></a>
            <ul >
                <li><a th:href="@{/usersDetails/{adminId} (adminId=${adminId})}">User Details</a></li>
                <li><a th:href="@{/removeUser/{adminId} (adminId=${adminId})}">Remove User</a></li>
            </ul>
        </li>
        <li><a href="/signIn">Sign Out</a></li>
    </ul>
    <div class="grid" style="background: transparent">
        <img src="../images/Air_India-Logo.png"/>
        <img src="../images/AirAsia_India-Logo.png"/>
        <img src="../images/British_Airways-Logo.png"/>
        <img src="../images/Jet_Airways-Logo.png"/>
        <img src="../images/Oman_Air-Logo.png"/>
    </div>
    <div class="login" style="width: 1000px;">
        <h6 style="font-size:20px;color:white;" align="center"><small><span
                th:text="${successMessage}"></span></small></h6>
        <div class="form" style=" background: linear-gradient(to bottom right, white, #88bdbc); max-width: 700px;">
            </span><span>Admins</span><br><br><br>
            <table class="space">
                <tr align="center">
                    <td style="font-size:15px;font-weight:bold;">Username</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Employee ID</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Name</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Email ID</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Phone Number</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Address</td>&nbsp;&nbsp;

                </tr>

                <tr th:each="admin : ${adminList}">
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${admin.username}"></span></td>&nbsp;&nbsp;&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${admin.employeeId}"></span></td>&nbsp;&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${admin.name}"></span></td>&nbsp;&nbsp;&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${admin.emailId}"></span></td>&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${admin.phoneNumber}"></span></td>&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${admin.address}"></span></td>&nbsp;
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>