<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Booked Seats</title>
    <link rel="icon" type="image/jpg" href="../images/logo1.jpg ">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
<div class="container">
    <ul>
        <li><img style="margin-left: -300px;" src="../images/GlobalSkyFlyAirways-logo.png"
                 alt="GlobalSkyFlyAirways-logo">
        </li>
        <li><a href="#">Profile <i class="fas fa-caret-down"></i></a>
            <ul style="height: 100px;">
                <li><a th:href="@{/airlineProfile/{airlineId}(airlineId=${airlineId})}">View Profile</a></li>
                <li><a th:href="@{/changeAirlinePassword/{airlineId}(airlineId=${airlineId})}">Change Password</a></li>
            </ul>
        </li>
        <li><a href="/airlines">Airlines<i class="fas fa-caret-down"></i></a>
            <ul style="height: 150px; width: auto;">
                <li><a th:href="@{/scheduleFlight/{airline} (airline=${airlineId})}">Add Schedule</a></li>
                <li><a th:href="@{/fixedFlightSchedule/{airlineId}(airlineId=${airlineId})}">Fixed Schedule</a></li>
                <li><a th:href="@{/cancelledFlights/{airlineId}(airlineId=${airlineId})}">Cancelled Flights</a></li>
            </ul>
        </li>
        <li><a href="">Transaction<i class="fas fa-caret-down"></i></a>
            <ul style="height: 100px; width: 150px;">
                <li><a th:href="@{/airlineRefund/{airlineId}(airlineId=${airlineId})}">Refund</a></li>
                <li><a th:href="@{/airlineAccount/{airlineId}(airlineId=${airlineId})}">Account</a></li>
            </ul>
        </li>
        <li><a href="/signIn">Sign Out</a></li>
    </ul>
    <div class="grid" style="background: transparent">
        <img src="../images/Air_India-Logo.png"/>
        <img src="../images/AirAsia_India-Logo.png"/>
        <img src="../images/British_Airways-Logo.png"/>
        <img src="../images/Jet_Airways-Logo.png"/>
        <img src="../images/Oman_Air-Logo.png"/>
    </div>
    <div class="login" style="width: 1000px;">
        <h6 style="font-size:20px;color:white;" align="center"><small><span
                th:text="${successMessage}"></span></small></h6>
        <div class="form" style=" background: linear-gradient(to bottom right, white, #88bdbc); max-width: 830px;">
            <span th:text="${organization}"></span><span>&nbsp;-&nbsp;</span><span th:text="${flightId}"></span><span>&nbsp;Booked&nbsp;Seats</span><br><br><br>
            <table class="space">
                <tr align="center">
                    <td style="font-size:15px;font-weight:bold;">Flight ID</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Airlines</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Seat</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Passenger Name</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Passport Number</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Nationality</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Origin</td>&nbsp;&nbsp;
                    <td style="font-size:15px;font-weight:bold;">Destination</td>&nbsp;&nbsp;
                </tr>

                <tr th:each="ticket : ${tickets}">
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${ticket.getFlightId()}"></span></td>&nbsp;&nbsp;&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${organization}"></span></td>&nbsp;&nbsp;&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${ticket.getSeatId()}"></span></td>&nbsp;&nbsp;&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${ticket.getPassengerName()}"></span></td>&nbsp;
                    <td><span class="formStyle" style="font-size:15px;"
                              th:text="${ticket.getPassportNumber()}"></span>
                    </td>&nbsp;<td><span class="formStyle" style="font-size:15px;"
                                         th:text="${ticket.getNationality()}"></span></td>&nbsp;
                    </td>&nbsp;<td><span class="formStyle" style="font-size:15px;"
                                         th:text="${ticket.getFlights().getOrigin()}"></span></td>&nbsp;
                    </td>&nbsp;<td><span class="formStyle" style="font-size:15px;"
                                         th:text="${ticket.getFlights().getDestination()}"></span></td>&nbsp;
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>