<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>Admin Profile</title>
    <link rel="icon" type="image/jpg" href="../images/logo1.jpg ">
    <link rel="stylesheet" href="/login.css">
    <link rel="stylesheet" href="/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
<div class="container">
    <ul>
        <li><img style="margin-left: -275px;" src="../images/GlobalSkyFlyAirways-logo.png"
                 alt="GlobalSkyFlyAirways-logo"></li>

        <li><a th:href="@{/superAdminProfile/{adminId} (adminId=${adminId})}">View Profile</a></li>

        <li><a href="#">Admin Manager<i class="fas fa-caret-down"></i></a>
            <ul >
                <li><a href="/signUpAdmin">Add Admin</a></li>
                <li><a th:href="@{/adminsDetails/{adminId} (adminId=${adminId})}">Registered Admins</a></li>
                <li><a th:href="@{/removeAdmin/{adminId} (adminId=${adminId})}">Remove Admin</a></li>
            </ul>
        </li>
        <li><a href="/logout">Sign Out</a></li>
    </ul>
    <div class="grid" style="background: transparent">
        <img src="../images/Air_India-Logo.png"/>
        <img src="../images/AirAsia_India-Logo.png"/>
        <img src="../images/British_Airways-Logo.png"/>
        <img src="../images/Jet_Airways-Logo.png"/>
        <img src="../images/Oman_Air-Logo.png"/>
    </div>
    <div class="login">
        <div class="login"><h6 style="font-size:20px;color:white;" align="center"><small><span
                th:text="${successMessage}"></span></small></h6>
            <div class="form" style=" background: linear-gradient(to bottom right, white, #88bdbc)">
                <span>Profile</span><br><br><br>
                <br>
                <div style="font-size:15px;">organizationName : <span class="formStyle" style="font-size:18px;"
                                                                      th:text="${organizationName}"></span></div>
                <br>
                <div style="font-size:15px;">Employee ID : <span class="formStyle" style="font-size:18px;"
                                                                 th:text="${employeeId}"></span></div>
                <br>
                <div style="font-size:15px;">Name :<span class="formStyle" style="font-size:18px;"
                                                         th:text="${name}"></span>
                </div>
                <br>
                <div style="font-size:15px;">Age : <span class="formStyle" style="font-size:18px;"
                                                         th:text="${age}"></span></div>
                <br>
                <div style="font-size:15px;">Gender: <span class="formStyle" style="font-size:18px;"
                                                           th:text="${gender}"></span>
                </div>
                <br>
                <div style="font-size:15px;">Email : <span class="formStyle" style="font-size:18px;"
                                                           th:text="${emailId}"></span>
                </div>
                <br>
                <div style="font-size:15px;">Phone :<span class="formStyle" style="font-size:18px;"
                                                          th:text="${phoneNumber}"></span>
                </div>
                <br>
                <div style="font-size:15px;">Address : <span class="formStyle" style="font-size:18px;"
                                                             th:text="${address}"></span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>